@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 153 58% 53%;
    --primary-foreground: 220 33% 3%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 153 58% 53%;
    --accent-foreground: 220 33% 3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 153 58% 53%;

    --radius: 0.9rem;
  }

  .dark {
    --background: 220 33% 3%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 153 58% 53%;
    --primary-foreground: 220 33% 3%;

    --secondary: 220 14% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 14% 15%;
    --muted-foreground: 215 20% 65%;

    --accent: 153 58% 53%;
    --accent-foreground: 220 33% 3%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 14% 18%;
    --input: 220 14% 18%;
    --ring: 153 58% 53%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
